* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --dark-blue: hsl(233, 47%, 7%);
  --desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --main-paragraph-white: hsla(0, 0%, 100%, 0.75);
  --stat-heading-white: hsla(0, 0%, 100%, 0.6);

  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-blue);
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #a7a5bc;
  font-size: 1.5rem;
}

main .card {
  max-width: 100rem;
  background: var(--desaturated-blue);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 0.5rem;
}

main .card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 7rem;
}

main .card .card-info h1 {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

main .card .card-info h1 span {
  color: var(--soft-violet);
}

main .card .card-info p {
  line-height: 2rem;
  max-width: 35rem;
  margin-bottom: 7rem;
}

main .card .card-info ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

main .card .card-info ul li h2 {
  color: var(--white);
  margin-bottom: 0.5rem;
}

main .card .card-info ul li span {
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}

main .card .card-image {
  background: #800080;
  border-radius: 0 1rem 1rem 0;
}

main .card .card-image img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 0 0.5rem 0.5rem 0;
}

@media (max-width: 900px) {
  main .card {
    display: flex;
    flex-direction: column-reverse;
    max-width: 80vw;
    margin: 3rem;
  }

  main .card .card-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  main .card .card-info p {
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 100%;
  }

  main .card .card-info ul {
    display: flex;
    flex-direction: column;
  }

  main .card .card-image img {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

@media (max-width: 450px) {
  main .card .card-info h1 {
    font-size: 2.1rem;
    text-align: center;
  }

  main .card .card-info p {
    font-size: 1.6rem;
  }
}
